[report]
exclude_lines =
    pragma: no cover
    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if __str__
    # Don't complain if tests don't hit defensive assertion code:
    AssertionError
    NotImplementedError
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
omit =
    manage.py
    */admin.py
    */migrations/*
show_missing = True